:root{
    --text-color: blue;
    --contrast-color: rgb(249, 250, 251);
    --text-contrast-color: rgb(255,255,255);
    --footer-color: rgb(31, 41, 55);
}

*{
    /*border: 1px solid red;*/
    font-family: sans-serif;
    scroll-padding-top: 20px;
}

header{
    box-shadow: 0px 3px;
    position: sticky;
    top: 0px;
    background-color: white;
}

body{
    margin: 1px;
    background-color: var(--contrast-color);
}

main{
    margin: 30px;
}

header nav{
    display: flex;
    position: relative;
    justify-content: space-around;
}

header nav p{
    color: var(--text-color);
}

header nav #resume-button{
    color: white;
    background-color: var(--text-color);
    padding: 5px;
    border-radius: 10px;
}

header nav a{
    text-align: center;
    text-decoration: none;
}

#resume-button a{
    color: white;
}

header nav a:visited{
    color: var(--text-color);
}

main section h1 span{
    color: var(--text-color);
}

#about-me p{
    margin: 5px;
    width: 500px;
}

#about-me p span{
    color: var(--text-color);
}

#profile-photo{
    display: flex;
    justify-content: center;
}

#profile-photo a img{
    width: 300px;
    height: 300px;
    object-fit:cover;
    object-position: 20% 80%;
    border: 3px solid blue;
    border-radius: 50%;
    box-shadow: 2px 2px gray;
}

.card-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px 10px;
    box-shadow: 4px 4px 4px gray, -4px -4px 4px gray;
    transition: box-shadow 200ms;
    /*border: 1px solid green;*/
}

.card-container:hover{
    box-shadow: 8px 8px 8px gray, -8px -8px 8px gray;
}

.card{
    width: 80%;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0px -6px var(--text-color);
    margin: 10px;
}

.card h2{
    color: var(--text-color);
    margin-left: 10px;
}

.card p{
    margin-left: 10px;
}

#quote{
    border-left: 10px solid pink;
    padding-left: 20px;
}

.hero{
    padding: 30px;
    background-color: pink;
    border-radius: 20px;
}

footer{
    background-color: var(--footer-color);
    display: flex;
    justify-content: center;
}

footer p{
    color: white;
}